/* .jumbotron {
    background-image: url("../static/images/bars.png");
    background-size: cover;
    margin: 0 
} */

/* .heading {
    margin: 0px;
    width: 100%;
    padding: 0;

} */

body {
    margin: 0;
}


#footer {
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 100% !important; 
    text-align: center;
    color: white !important;
  
}


#footer p {
    margin: 0;
    font-size: 14px;
    color: white !important;
  }

#chartReport {
  width: 600px;
  height: 400px;

}

#chartReport2 {
  width: 500px;
  height: 400px;
}


.legend {
  padding: 6px 8px;
  font-weight: bold;
  color: black;
  background: #fff !important;
  border-radius: 5px;
  text-align: center;

}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

div.info.legend.leaflet-control br { clear: both; } 


#user-selection h5{
  color:black;
}


#map
{ height: 350px; 
  width: 1000px;
  position: relative;
}

body > div.map-container {
    position: fixed;
    top: calc(50px + 1em);
    bottom: calc(50px + 1em);
    right: 0;
    left: 0;
    vertical-align: top;
}


/* Reference for glow feature https://www.w3schools.com/howto/howto_css_glowing_text.asp */
.glow {
    font-size: 60px;
    color: whitesmoke;
    text-align: center;
    -webkit-animation: glow 0.6s ease-in-out infinite alternate;
    -moz-animation: glow 0.6s ease-in-out infinite alternate;
    animation: glow 0.6s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #13137a, 0 0 20px #1a1aff, 0 0 30px #1a1aff, 0 0 40px #1a1aff, 0 0 50px #80bfff, 0 0 60px #80bfff, 0 0 70px #80bfff;
    }
    to {
      text-shadow: 0 0 20px #eb8181, 0 0 30px #ec4646, 0 0 40px #f10202, 0 0 50px #f10202, 0 0 60px rgb(151, 0, 0), 0 0 70px #1a1aff, 0 0 80px #1a1aff;
    }
  }
  /* text-shadow: 0 0 20px #6666ff, 0 0 30px #1a1aff, 0 0 40px #1a1aff, 0 0 50px #1a1aff, 0 0 60px #1a1aff, 0 0 70px #1a1aff, 0 0 80px #1a1aff; */

  /* Reference for glow feature https://www.w3schools.com/howto/howto_css_glowing_text.asp */
.glow2 {
    font-size: 60px;
    color: whitesmoke;
    text-align: center;
    -webkit-animation: glow2 0.6s ease-in-out infinite alternate;
    -moz-animation: glow2 0.6s ease-in-out infinite alternate;
    animation: glow2 0.6s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow2 {
    from {
        text-shadow: 0 0 20px #eb8181, 0 0 30px #ec4646, 0 0 40px #f10202, 0 0 50px #f10202, 0 0 60px rgb(151, 0, 0), 0 0 70px #1a1aff, 0 0 80px #1a1aff;
    }
    to {
      text-shadow: 0 0 10px #13137a, 0 0 20px #1a1aff, 0 0 30px #1a1aff, 0 0 40px #1a1aff, 0 0 50px #80bfff, 0 0 60px #80bfff, 0 0 70px #80bfff;
    }
  }

  @import url('https://fonts.googleapis.com/css?family=Montserrat');

.mt-5 {
  margin:0 !important;
}
  
.news {
    width: 160px;
    /* background-color: navy !important; */
    border-color:red !important;
}

.news-scroll a {
    text-decoration: none;
    color:red;
}

.breaking-news {
  background-color:#b3d1ff;
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: navy;
    border-radius: 50%;
    border-color:red;
    display: inline-block
}
